<div class="h-screen flex flex-col">
  <div class="navbar bg-base-100 border-b">
    <div class="flex-1">
      <h1 class="text-xl font-bold">Chat</h1>
    </div>
    <div class="flex-none">
      <%= link_to root_path, class: "btn btn-ghost btn-sm" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      <% end %>
    </div>
  </div>
  
  <div class="flex-1 overflow-hidden">
    <%= render Chat::ContainerComponent.new(
      user: current_user,
      thread_id: @current_thread&.id
    ) %>
  </div>
</div>