<!DOCTYPE html>
<html lang="en" class="scrollbar-rounded h-full">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body class="h-full" data-controller="theme" data-theme-default-value="light">
    <%= yield %>
    <%= render "layouts/analytics" %>
  </body>
</html>