<!DOCTYPE html>
<html lang="en" class="scrollbar-rounded">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body class="bg-gradient-to-br from-pink-200 via-purple-200 to-orange-200 min-h-screen">
    <%= yield %>
    <%= render "layouts/analytics" %>
  </body>
</html>